<div class="content">
  <div class="card-login">
    <div class="card-header bg-usco-vt header-usco-card">
      <div class="row text-center">
        <div class="col">
          <img
            title="USCO"
            mat-card-image
            src="assets/facultad-salud.png"
            class="img-fluid"
          />
        </div>
      </div>
      <hr class="punteada" />
      <div class="row text-center">
        <div class="col">
          <small class="font-weight-bold text-white">
            ADMINISTRADOR DE CONVENIOS
          </small>
        </div>
      </div>
    </div>
    <div class="card-body text-center font-usco-gr">
      <div class="container">
        <form>
          <div class="row">
            <div class="col">
              <p>
                Se ha enviado a su correo institucional <br />
                (<b *ngIf="correo">{{ correo.correo }}</b
                >) un codigo de verificación. <br />
                Por favor ingresar a su correo, copia el codigo <br />
                y diligenciar en el campo correspondiente.
              </p>
            </div>
          </div>
          <form [formGroup]="formToken">
            <div class="row">
              <div class="col">
                <label class="ml-1"
                  >Código de verificación
                  <span class="requerido">*</span></label
                >
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fa-solid fa-lock"></i>
                    </div>
                  </div>
                  <input
                    class="form-control"
                    formControlName="token"
                    type="password"
                    placeholder="Digite la primera contraseña"
                    autocomplete="off"
                  />
                </div>
              </div>
            </div>
          </form>
          <div class="row mt-3 mb-3">
            <div class="col mb-2">
              <button
                (click)="validarToken()"
                type="button"
                class="btn btn-usco-vt"
                [disabled]="!formToken.valid"
              >
                Validar Token
                <span
                  *ngIf="cargando"
                  class="spinner-border spinner-border-sm"
                  role="status"
                  aria-hidden="true"
                ></span>
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <small
                ><b class="version"
                  >© {{ today | date : "yyyy" }} CITCD - Versión 2 Construcción
                  1.0</b
                ></small
              >
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
